<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dhanya Manjunath Kashyap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-15">
        <h1>DHANYA MANJUNATH KASHYAP</h1>
        <h2>TECHNICAL SKILLS</h2>
        <ul>
          <li>Programming Languages: Python, SQL, Bash, C#, Java</li>
          <li>Tools/Techniques: Git, Jira, Tenable, Splunk, Proofpoint, Qualys, PowerShell, IDS, IPS, YARA, SAST, DAST</li>
          <li>Work Environments: Linux, AWS, Azure, Jenkins, Service-Now, Kali</li>
          <li>Frameworks/Design: OSI, TCP/IP, IAM, Network Firewalls, OWASP TOP 10, NIST 800-53, ISO 27001</li>
          <li>Compliance Frameworks: GDPR, HIPPA, PCI-DSS</li>
        </ul>
      </div>
      <div class="col-md-15">
        <h2>PROFESSIONAL EXPERIENCE</h2>
        <h4>Executive Office of Technology Services and Security | SOC Intern</h4>
        <p>June 2023 – September 2023</p>
        <ul>
          <li>Documented a comprehensive Ransomware Incident Response Playbook, achieving a 95% reduction in incident response time</li>
          <li>Created a comprehensive Zero-day Attack Vulnerability Management Playbook, streamlining the identification and categorization processes, resulting in 100% effective remediation of detected vulnerabilities</li>
          <li>Designed specialized dashboards using Tenable (SIEM tool) to monitor and assess vulnerabilities across 8 secretariats, enhancing vulnerability visibility and data-driven decision-making</li>
          <li>Streamlined and automated report generation of vulnerability management process and reduced manual effort by 99%</li>
          <li>Identified and reported over 50 phishing attempts, leveraging tools like VirusTotal and UrlScan.io, ensuring the threats were swiftly addressed through Proofpoint</li>
        </ul>
        <h4>o9 Solutions | SecOps Intern</h4>
        <p>January 2023 – May 2023</p>
        <ul>
          <li>Integrated Snyk Code and SCA onto the Azure Pipeline to ensure 100% code quality</li>
          <li>Spearheaded the creation of Proof of Concepts (PoCs) for three distinct vulnerability management tools, conducting comprehensive testing and analysis to generate empirical evidence that guided informed security decision-making, resulting in a 30% reduction in critical vulnerabilities and enhancing overall cyber resilience.</li>
          <li>Supervised tool deployment on 280 recently provisioned servers, promptly notifying the IT team of any issues</li>
          <li>Extracted detailed server metrics via CMDB queries, identified and rectified software installation gaps , and provided actionable insights to the DevOps team using Service-Now making 65% overall impact</li>
        </ul>
        <h4>Epicor Software Corporation | Developer</h4>
        <p>January 2018 - December 2021</p>
        <ul>
          <li>Orchestrated the comprehensive development of a $2 Million Data Management Tool, weaving in advanced security layers</li>
          <li>Incorporated Microsoft Azure IAM tools to establish security policies to ensure 100% data safeguarding</li>
          <li>Pioneered a Power BI prototype to distill insights from 440 ERP10 forms, empowering product owners with data-driven decision-making for feature enhancement. Optimized workflow efficiency by integrating process automation via Microsoft Azure Functions</li>
          <li>Automated input testing for 54 new DMT modules, resulting in an elimination of manual effort, ensuring precise validation</li>
        </ul>
        <h2>PROJECTS</h2>
        <ul>
          <li>Respaldo | Robust Backup and Recovery System | Bacula, Terraform, Google Cloud Platform, IAM, VPN
            <ul>
              <li>Designed and implemented secure backup and recovery systems using Bacula open-source software on GCP</li>
              <li>Automated infrastructure building using HashiCorp Terraform Scripts</li>
              <li>Established multiple layers of security to ensure business continuity and disaster recovery</li>
            </ul>
          </li>
          <li>Cryptographic Digital Envelope | CIA Triad simulation| OpenSSL, C, Linux, VM
            <ul>
              <li>Developed a secure group file-sharing cryptosystem, embodying the principles of the CIA triad. Utilized OpenSSL 3.0 to incorporate symmetric cryptography, asymmetric cryptography, and hashing algorithms, ensuring robust data protection</li>
            </ul>
          </li>
          <li>Information Retrieval Application | Android application to save contact details on phone| OCR, Android Studio, Java, Firebase
            <ul>
              <li>Created an Android app using Android Studio that extracts text from business cards and saves it as phone contacts</li>
              <li>Built the application using Optical Character Recognition libraries to recognize contact details and categorize each piece of information accordingly</li>
            </ul>
          </li>
        </ul>
        <h2>EDUCATION</h2>
        <ul>
          <li>Master of Science, Cybersecurity, Northeastern University, Boston, MA, December 2023</li>
          <li>Bachelor of Engineering, Computer Science and Engineering, BMS Institute of Technology, Bengaluru, India, July 2018</li>
        </ul>
        <h2>PUBLICATION AND ACHIEVEMENTS</h2>
        <ul>
          <li>Certified in Cybersecurity by ISC2 (2023) and Microsoft Azure Security Engineer Associate : AZ-500 certified (2021)</li>
          <li>WiCyS Security Training Scholarship ( CTF with SANS Institute Tier1 ) and mWISE Conference Scholarship Expo+ (2023)</li>
          <li>Published Paper in IJEECSE- "Information Retriever Application Using Text Extraction Method" (2018)</li>
          <li>Paper Presentation in NCAC-2017 on “Intrusion detection using Ad-Hoc Communication Networks (2017)"</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
